body{
  background: #fff;
  margin: 75px;
  height: auto;


}



section{
  width: 100%;
  margin: 0;
  padding: 0px;

}



section.bigBoy{
  margin: 20  px;
  padding: 100;


}



section.repos{
display: inline-block;
box-sizing: border-box;

}



section.bigBoy > section.main{
  width: 25%;
  float: left;
  text-align: center;
  font-family: sans-serif;

}



section.bigBoy > section.main img{
  height: 230px;
  width: auto;
  border-radius: 6px;
}



section.bigBoy > section.main h3{
  font-size: 18px;
  font-weight: bold;
}



section.bigBoy > section.main h4{
  font-size: 13px;
  font-weight: normal;

}
section.bigBoy > section.main p{
  font-size: 13px;
  font-weight: normal;
}


section.bigBoy > section.repos{
  width: 75%;
  float: right;
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;

}


section.bigBoy > section.repos h3{
  margin: 0px;
}


section.bigBoy > section.repos p{
margin: 15px;
}
