body{
  background: #fff;
  margin: 75px;
  height: auto;


}

section{
  width: 100%;
  margin: 0;
  padding: 0px;

}

section.bigBoy{
  margin: 20  px;
  padding: 100;


}

section.repos{
display: inline-block;
box-sizing: border-box;

}

section.bigBoy > section.main{
  width: 25%;
  float: left;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;


}

section.bigBoy > section.main img{
  height: 230px;
  width: auto;
  border-radius: 6px;
}


section.bigBoy > section.repos{
  width: 75%;
  float: right;
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;
  border-bottom: 2px black;

}
